* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --header-blue: rgb(0 43 255);

    --background-principal: rgb(240 240 240);

    --text: black;
    --text-footer: rgb(191 191 191);

    --module-green: rgb(113 201 85);
    --module-red: rgb(237 66 66);
    --module-blue: rgb(74 74 249);
    --module-purple: purple;
    --module-orange: orange;
    --module-darkgreen: darkgreen;
    --module-darkred: darkred;
    --module-darkblue: darkblue;
    --module-darkpurple: purple;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "cabecalho" 
        "principal"
        "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: var(--header-blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 1px 5px 0px rgba(0, 12, 29, 0.836);
}

    .cabecalho > h1 {
        margin: 0px;
        font-weight: 500;
        font-size: 2.8rem;
    }

    .cabecalho > h2 { 
        margin: 0px;
        font-weight: 300;
        font-size: 1.6rem;
    }

.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: var(--background-principal);
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.123);
}

.rodape {
    grid-area: rodape;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2em;
    padding-right: 20px;
    color: var(--text-footer);
}

.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    margin-bottom: 15px;
    border-radius: 4px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5em;
    padding: 10px 20px;
}

.modulo > ul {
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
    color: var(--text);
}

.modulo > ul > li:hover {
    background-color: var(--background-principal);
}

.modulo.verde { border: 2px solid var(--module-green);}
.modulo.verde h3 { background-color: var(--module-green);}

.modulo.vermelho { border: 2px solid var(--module-red);}
.modulo.vermelho h3 { background-color: var(--module-red);}

.modulo.azul { border: 2px solid var(--module-blue);}
.modulo.azul h3 { background-color: var(--module-blue);}

.modulo.roxo { border: 2px solid var(--module-purple);}
.modulo.roxo h3 { background-color: var(--module-purple);}

.modulo.laranja { border: 2px solid var(--module-orange);}
.modulo.laranja h3 { background-color: var(--module-orange);}

.modulo.verde-escuro { border: 2px solid var(--module-darkegreen);}
.modulo.verde-escuro h3 { background-color: var(--module-darkgreen);}

.modulo.vermelho-escuro { border: 2px solid var(--module-darkred);}
.modulo.vermelho-escuro h3 { background-color: var(--module-darkred);}

.modulo.azul-escuro { border: 2px solid var(--module-darkblue);}
.modulo.azul-escuro h3 { background-color: var(--module-darkblue);}

.modulo.roxo-escuro { border: 2px solid var(--module-darkpurple);}
.modulo.roxo-escuro h3 { background-color: var(--module-darkpurple);}
